[submodule "ls-biblia"]
	path = ls-biblia
	url = https://github.com/saulotarsobc/ls-biblia
[submodule "sc-ptz-control"]
	path = sc-ptz-control
	url = https://github.com/saulotarsobc/sc-ptz-control
[submodule "sc-electron-boilerplate"]
	path = sc-electron-boilerplate
	url = https://github.com/saulotarsobc/sc-electron-boilerplate
